@import "styles/vars";

.wrap {
  display: flex;
  align-items: flex-start;
  gap: 12px;

  p {
    margin-left: 0 !important;
    max-width: 470px;
    width: 100%;

    a {
      color: $accent;
    }
  }
}

@media (max-width: 1200px) {
  .wrap {
    input {
      margin-top: 2px;
    }
    p {
      font-size: 12px;
      line-height: 120%;
    }
  }
}
