@import "styles/vars";

.card {
  height: 663px;
  max-width: 400px;
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $white;
  z-index: 1;
  padding: 40px 30px;
  font-weight: 400;
}

.name {
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 17px;
}

.title {
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 17px;
}

.text {
  font-size: 16px;
  line-height: 16px;
}
