@import "styles/vars";

.line {
  background: #ccc;
  height: 2px;
  position: relative;
}

.prog {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;

  height: 6px;
  background: $accent;
  border-radius: 6px;
}
