.wrap {
  margin-top: 100px;
  height: 808px;
  :global(.container) {
    height: 100%;
    display: flex;
    align-items: center;
  }
  :global(.container-xl) {
    height: 100%;
    overflow: hidden;
  }
}
.btn__mob {
  display: none;
}
.inner {
  height: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    253.11deg,
    rgba(255, 255, 255, 0.3) 1%,
    rgba(183, 220, 255, 0.3) 68.76%,
    rgba(105, 183, 255, 0.3) 96.17%
  );
  border-radius: 50px 0px 0px 50px;
}

.left {
  max-width: 600px;
  margin-right: 30px;
  .btn {
    background: transparent;
    margin-top: 30px;
  }
}

.right {
  display: grid;
  gap: 0 24px;
  height: 100%;
  right: -226px;
  position: absolute;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: masonry;
}

.item {
  background: linear-gradient(
    247.74deg,
    rgba(121, 190, 255, 0.3) 3.4%,
    rgba(183, 220, 255, 0.3) 53.31%,
    rgba(105, 183, 255, 0.3) 104.84%
  );
  border-radius: 20px;
  height: 328px; 
  width: 100%;
  
  &:first-child {
    margin-top: -70px;
  }

  &:nth-of-type(2) {
    margin-top: -285px;
  }

  &:nth-of-type(3) {
    margin-top: -194px;

  }

  &:nth-child(4) {
    height: 269px; 
    margin-top: 24px;
  }

  &:nth-of-type(5) {
    margin-top: -191px;
  }

  &:nth-of-type(6) {
    margin-top: -98px;
  }

  &:nth-of-type(7) {
    margin-top: 23px;
  }

  &:nth-of-type(8) {
    margin-top: -192px;
  }

  &:nth-of-type(9) {
    margin-top: -37px;
  }
  &:nth-of-type(11) {
    margin-top: -250px;
  }

}

.item__card {
  background: #FFFFFF;
  border: 2px solid #1B8FFB;
  border-radius: 20px;
  height: 269px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .img {
    width: 120px;
    height: 120px;
  }

  h3 {
    font-weight: 500;
    margin-top: 12px;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */

text-align: center;
letter-spacing: 0.02em;

/* black_38 */

color: #383838;


  }
 
  p {
    margin-top: 8px;
    font-weight: 500;
font-size: 13px;
line-height: 13px;
text-align: center;
letter-spacing: 0.02em;

/* grey4 */

color: #999999;
  }

}

@media(max-width: 1440px) {
 .right {
  grid-template-columns: repeat(3, 240px); 
  gap: 15px;
} 
.item {
&:nth-child(4) {
  margin-top: 0
}

&:nth-child(5) {
  margin-top: -215px;
}


&:nth-child(6) {
  margin-top: -126px;
}

&:nth-child(7) {
  margin-top: 0px;
}
&:nth-child(8) {
  margin-top: -215px;
}

&:nth-child(9) {
  margin-top: -69px; 
}


&:nth-child(11) {
  margin-top: -274px;
}
}
}


@media (max-width: 1200px) {
  .wrap {
    height: 670px;
  }
 .left {
   max-width: 400px;
 } 
 .right {
   right: -225px;
       grid-template-columns: repeat(3, 210px);
 }
 .title {
   font-size: 32px;
 }
}
 
@media (max-width: 900px) {
.btn {
  display: none;
}

.btn__mob {
  display: block;
  margin-top: 32px;
}
.inner {
  border-radius: 24px;
}
  .item {
    display: none;
    &.item__card {
      display: flex;
    }

    &:nth-child(5) {
      margin-top: 32px;
    }

    &:nth-child(8) {
      margin-top: 32px;
    }
  }

  .right {
   grid-template-columns: repeat(1, 1fr); 
   position: static;
   margin-top: 64px;
  }

  .wrap {
    margin-top: 70px;
    height: auto;
    :global(.container) {
          padding: 31px 12px;

      flex-direction: column; 
    }
  }

  .left {
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
   font-size: 20px; 
   text-align: center;
  }

}
