.section {
  margin-top: 100px;
}

.wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.item {
  background: #f9f9f9;
  border-radius: 20px;
  padding: 18px 13px;

  p {
    margin-top: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #383838;
  }
}

.top {
  display: flex;
  gap: 13px;
  align-items: center;

  h4 {
    font-weight: 550;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
  }
}

.icon {
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .section {
    margin-top: 70px;
  }

  .scroll {
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .wrap {
    display: flex;
    gap: 16px;
    min-width: max-content;
    margin-top: 24px;
  }

  .item {
    max-width: 300px;
  }
}
