@import "styles/vars";

.section {
  margin-top: 145px;
}

.wrap {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 41px;
}

.item {
  padding: 40px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 10px;

  &.active {
    border: 1px solid $accent;

    .toptext {
      color: $accent;
    }

    .price {
      color: $accent;
    }
    .subprice {
      color: $accent;
    }

    .list li:before {
      background: url("../../../public/img/check-active.png") no-repeat center /
        contain;
    }
  }

  &:hover {
    border: 1px solid $accent;

    .toptext {
      color: $accent;
    }

    .price {
      color: $accent;
    }
    .subprice {
      color: $accent;
    }

    .list li:before {
      background: url("../../../public/img/check-active.png") no-repeat center /
        contain;
    }
  }
}

.toptext {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #383838;
  height: 56px;
  margin-bottom: 20px;
  transition: all 0.2s ease;
}

.price {
  font-weight: 900;
  font-size: 60px;
  line-height: 1;
  transition: all 0.2s ease;

  color: #999999;
}

.subprice {
  transition: all 0.2s ease;

  color: #999999;
  text-align: center;
  font-weight: 900;
}

.pricewrap {
  height: 91px;
}

.list {
  margin-top: 9px;
  min-height: 370px;
  li {
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    padding-left: 55px;
    margin-bottom: 18px;
    position: relative;
    margin-right: 30px;
    &::before {
      content: "";
      transition: all 0.2s ease;
      position: absolute;
      background: url("../../../public/img/check.png") no-repeat center /
        contain;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 35px;
      height: 35px;
      left: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.subtext {
  text-align: center;
  margin-top: 40px;
  min-height: 75px;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: #999999;
}

.btn {
  width: 100%;
  display: block;
  margin: 15px 60px 0;
  max-width: 300px;
}

@media (max-width: 1440px) {
  .wrap {
    gap: 20px;
  }
}

@media (max-width: 1200px) {
  .list {
    min-height: 300px;
  }
  .list li:before {
    width: 28px;
    height: 28px;
  }

  .list li {
    font-size: 16px;
    line-height: 120%;
  }

  .subtext {
    font-size: 16px;
    min-height: 120px;
  }
}

@media (max-width: 1024px) {
  .wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .section {
    margin-top: 70px;
  }

  .title {
    text-align: center;
  }
  .wrap {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 32px;
  }

  .item {
    padding: 32px 20px;
  }

  .toptext {
    font-size: 20px;
    line-height: 28px;
    height: auto;
  }

  .pricewrap {
    height: auto;
    margin-top: 0px;
  }

  .price {
    font-size: 44px;
    line-height: 28px;
  }

  .list {
    margin-top: 20px;
    min-height: auto !important;
    height: auto;
  }

  .subtext {
    height: auto;
    min-height: auto;
  }
}
