@import "styles/vars";

.header {
  box-shadow: $shadow;
  padding: 12px 0;
  position: fixed;
  z-index: 5;
  background: white;
  width: 100%;
  left: 0;
  top: 0;
}

.wrap {
  display: flex;
  align-items: center;
}
.logo {
  width: 140px;
  display: block;
  svg {
    display: block;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 24px;
}

.getstarted__btn {
  background: $accent;
  padding: 8px 16px !important;
  box-shadow: none;
  color: $white !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.burger {
  display: none;
}
@media (max-width: 1024px) {
  .burger {
    display: block;
    position: relative;
    width: 32px;
    margin-left: auto;
    height: 18px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      transition: all 0.3s ease;
      height: 2px;
      border-radius: 2px;
      background: #000;
      margin-left: auto;
    }

    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }

    span {
      transition: all 0.3s ease;
      height: 2px;
      border-radius: 2px;
      background: #000;
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .nav {
    position: absolute;
    left: -100vw;
    top: 78px;
    transition: all 0.3s ease;
    width: 100%;
    height: calc(100vh - 78px);
    overflow-y: scroll;
    flex-direction: column;
    background: $white;
    padding: 0 16px;
    gap: 0;
    &.active {
      left: 0;
    }
  }
}

@media (max-width: 768px) {
  .logo {
    width: 80px;
  }

  .right {
    gap: 16px;
  }

  .getstarted__btn {
    padding: 4px 8px !important;
    font-size: 14px;
  }
  .nav {
    top: 55px;
    height: calc(100vh - 55px);
  }
}
