.hero {
  margin-top: 160px;
}

.hero__title {
  text-align: center;
}

.catalog__section {
  margin-top: 100px;
}

.top {
  margin-top: 10px;
}

.catalog {
  display: flex;
  justify-content: space-between;
}
