.hero {
  margin-top: 200px;
}

.hero__title {
  text-align: center;
}

.typing {
  padding: 4px;
  background: rgba(27, 143, 251, 0.2);
  span {
    width: 2px;
    font-weight: 300;
  }
}
.index__slider_section {
  margin-top: 70px;
  :global(.container) {
    position: relative;
  }

  .btn {
    position: static;
    left: auto;
    transform: none;
    max-width: 260px;
    display: block;
    margin: 0px auto 0;
  }
}

.callback {
  margin-top: 100px;
}

.index__slider_arr {
  position: relative;
  display: inline-flex;
  width: 40px;
  margin-top: 44px;
  height: 40px;
  svg {
    width: 8px;
    height: 14px;
    display: block;
    object-fit: contain;
  }
}

.index__slider_arr_prev {
  // margin-right: auto;
  left: 0;
}
.index__slider_arr_next {
  right: 0;
}

@media (max-width: 1024px) {
  .hero {
    margin-top: 120px;
  }

  .hero__title {
    font-size: 50px;
  }
  .callback {
    margin-top: 70px;
  }
}

@media (max-width: 768px) {
  .hero {
    margin-top: 80px;
  }

  .hero__title {
    font-size: 30px;
  }
}
