.examples {
  margin-top: 100px;
}

.title {
  text-align: center;
  max-width: 390px;
  margin: 0 auto;
}

.wrap {
  display: grid;
  margin-top: 60px;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  justify-content: space-between;
  &.four {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    .item {
      justify-content: center;
      margin: 0 auto;
    }
  }
}

.item {
  max-width: 310px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .title {
    margin-top: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }
}

.reviews__section {
  margin-top: 100px;

  .title {
    text-align: center;
  }
}
.icon {
  width: 41px;
  height: 41px;
}

.text {
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;
}

@media (max-width: 1024px) {
  .wrap {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .item {
    max-width: none;
  }
}

@media (max-width: 600px) {
  .wrap {
    grid-template-columns: repeat(1, 1fr);
    &.four {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      .item {
        justify-content: center;
        margin: 0 auto;
      }
    }
  }
}
