@import "styles/vars";

.radio {
  cursor: pointer;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  line-height: 150%;
  display: inline-flex;
  align-items: flex-start;

  p {
    margin-left: 20px;
    margin-top: 2px;
  }
}

.check {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #4b5dff;
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $white;

  &::after {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.input {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;

  &:checked {
    + .check {
      position: relative;
      &:after {
        opacity: 1;
        transition: all 0.3s ease;
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background: $accent;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
