@font-face {
  font-family: "Helvetica";
  src: url("../src/fonts/HelveticaNeueCyr-UltraLight.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../src/fonts/HelveticaNeueCyr-Thin.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../src/fonts/HelveticaNeueCyr-Roman.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../src/fonts/HelveticaNeueCyr-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../src/fonts/HelveticaNeueCyr-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../src/fonts/HelveticaNeueCyr-Heavy.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../src/fonts/HelveticaNeueCyr-Bold.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../src/fonts/HelveticaNeueCyr-Black.otf");
  font-weight: 900;
  font-style: normal;
}
