.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.4) !important;
  z-index: 100;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  padding: 60px !important;
  max-width: 472px;
  background: #ffffff !important;
  border-radius: 16px !important;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  z-index: 10;
  width: 100%;
  inset: auto !important;
  margin: 0 auto;
  left: 50% !important;
  top: 80px !important;
  transform: translateX(-50%);
  border: none !important;
  border-radius: 32px;
}

@media (max-width: 1440px) {
  .ReactModal__Content {
    padding: 42px !important;
  }
}

@media (max-width: 768px) {
  .ReactModal__Content {
    top: 60px !important;
    padding: 20px 20px 40px 20px !important;
    max-width: 260px;
  }
}
